{% extends 'base.html' %}
{% block title %}All Daily Reports{% endblock %}

{% block body %}

<ul>
  <li><a href="/projects">View All Projects</a></li>
</ul>

  <h1>Daily Reports Listed By Daily Report Number</h1>

  <ul>
    {% for daily in daily_reports %}
      <li>
        <a href="/daily_report/{{ daily.daily_report_id }}">
          {{ loop.index }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <section>
    <form action = "/">
        <input type = "submit" value = "Log Out"/> 
    </form>
  </section>    
  
{% endblock %}

