<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags-->  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"> 

    <!-- Custom styles-->
    <link rel="stylesheet" href="/static/mystyles.css">
  
      <title>
      {% block title %}{% endblock %}
    </title>  
    
    {% block head %}{% endblock %}
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>