{% extends 'base.html' %}
{% block title %}Create Project{% endblock %}
{% block body %}


<body>
  <form action="/projects" method="POST">
    <section>
      <label>Project name</label>
      <input type="text" name="project_name">
    </section>
    <section>
      <select name="employee_id">
        {% for emp in employees %}
        <option value="{{ emp.employee_id }}">{{ employee.full_name }}</option>
        {% endfor %}
      </select>
    </section>
    <button type="submit"></button>
  </form>
</body>

</html>