{% extends 'base.html' %}
{% block title %}Create Daily Report{% endblock %}
{% block body %}
  <h1>Attractions Install Advisor Daily Activity Report</h1>
  <h2>Project Info:</h2>
  <ul>
    <li><a href="/projects">View All Projects</a></li>
    <li><a href="/project"> Create A New Project</a></li>    
    <li><a href="/daily_reports"> View All Daily Reports</a></li>
  </ul>
  <h3>Create a Daily Report</h3>
  <form action="/daily_report" method="POST">

    <section>
      Project Name:
      <select name="project_id" id="project_select">
        {% for proj in projects %}
        <option value="{{ proj.project_id }}">{{ proj.project_name }}</option>
        {% endfor %}
      </select>
    </section>
    
    <section>
      Site Supervisor:    
      <select id="site_supervisor" name="employee_id">
        {% for emp in employees %}
        <option value="{{ emp.employee_id }}">{{ emp.full_name }}</option>
        {% endfor %}
      </select>
    </section>
  
    <section>
        Days On Site: <span id="days_on_site">Show Days</span>
    </section>

    <section>           
        Work Performed:<textarea input type="textarea" name="work_performed"></textarea>
    </section>   
  
    <section>
        Problems Encounterd:<textarea input type="textarea" name="problems_encountered"></textarea>
    </section>        
    
    <section>
        Client Requests:<textarea input type="textarea" name="client_requests"></textarea>
    </section>
    
    <section>
      <input id="add" type="submit" value="Add">
    </section>
    
       
    <script src="/static/daily_report.js"></script>       
  </form>     

{% endblock %} 