<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Project</title>
</head>

<body>
  <form action="/projects" method="POST">
    <section>
      <label>Project name</label>
      <input type="text" name="project_name">
    </section>
    <section>
      <select name="employee_id">
        {% for emp in employees %}
        <option value="{{ emp.employee_id }}">{{ employee.full_name }}</option>
        {% endfor %}
      </select>
    </section>
    <button type="submit"></button>
  </form>
</body>

</html>