{% extends 'base.html' %}
{% block body %}
<form>
    <ul>
        <li><a href="/projects">View All Projects</a></li>
        <li><a href="/daily_reports"> View All Daily Reports</a></li>
        <li><a href="/daily_report">Create A New Daily Report</a></li>
    </ul>

    <h1>Daily Report:</h1>

    <p>
    Created by:  {{ report_info["employee"].full_name }}
    </p>

    <p>
        Total Days On Site: <span id="days_on_site">{{ count }}</span>
    </p>

    <p>
    Work Performed:    {{  report_info["daily_report"].work_performed }}
    </p>

    <p>
    Problems Encountered:    {{  report_info["daily_report"].problems_encountered }}
    </p>

    <p>
    Client Requests:    {{  report_info["daily_report"].client_requests }}
    </p>

    <section>
        <form action = "/logout" method = "GET">
            <input id="logout" type = "submit" value = "Log Out"/> 
        </form>
      </section>

    <script src="/static/daily_report.js"></script> 
</form>
{% endblock %}