{% extends 'base.html' %}
{% block title %}All Daily Reports For A Project{% endblock %}

{% block body %}

<ul>
  <li><a href="/projects">View All Projects</a></li>
  <li><a href="/daily_reports"> View All Daily Reports</a></li>
  <li><a href="/daily_report">Create A New Daily Report</a></li>
</ul>

  <h1>Daily Reports</h1>

  <ul>
    {% for daily in daily_reports %}
      <li>
        <a href="/daily_report/{{ daily.daily_report_id }}">
          {{ loop.index }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <section>
    <form action = "/logout" method = "GET">
        <input id="logout" type = "submit" value = "Log Out"/> 
    </form>
  </section>
  
{% endblock %}

